.card-cristal,
.input-character {
    background: rgba(255, 253, 253, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(12px);
    border: 1.5px solid rgba(209, 213, 219, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.card-cristal:hover{
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.contenedor-img {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.contenedor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.body-card {
    height: 150px;
}

.card-frase {
    font-family: "Tagesschrift", system-ui;
}
